<p id="notice"><%= notice %></p>
<br>
<li>Breastfeedings <%= !params[:baby_id].blank? ? "(#{@baby.name})" : "" %></li>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Baby</th>
      <th>Time</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breastfeedings.each do |breastfeeding| %>
      <tr>
        <td><%= breastfeeding.baby.name %></td>
        <td><%= breastfeeding.time %></td>
        <td><%= breastfeeding.quantity %></td>
        <td><%= link_to 'Show', breastfeeding %></td>
        <td><%= link_to 'Edit', edit_breastfeeding_path(breastfeeding) %></td>
        <td><%= link_to 'Destroy', breastfeeding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breastfeeding', !params[:baby_id].blank? ? new_breastfeeding_url(baby_id: @baby.id) : new_breastfeeding_path %> |
<%= link_to 'Babies', babies_path %>
